<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="color: brown; background-color:powderblue;">

    {% if user.is_authenticated %}
        <h1>{{ user.username }}</h1>
        {% for post in posts %}
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p>{{ post.author }}</p>
            <img src="{{ post.logo.url }}" alt="" >
            <br>
            <small>{{ post.date_posted }}</small>
            <a href="{% url 'edit_post' post.id %}">Edit</a>
            <a href="{% url 'delete_post' post.id %}">Delete</a>
        {% endfor %}
        <a href="{% url 'logout' %}"><button >Logout</button></a>
    {% else %}
        <a href="{% url 'login' %}"><button>Login</button></a>
        <a href="{% url 'registr' %}"><button>Registracia</button></a>
        <img src="{{ post.logo.url }}" alt="" >
    {% endif %}
</body>
</html>